Connect

In [2]:
import pyodbc

# connect database from sql
conn = pyodbc.connect('Driver={SQL Server};'
                        'Server=LAPTOP-UVRSHL4N\SQLEXPRESS;' # Server login at SQL Server
                        'Database=LibraryManagement;'
                        'Trusted_Connection=yes;')

# print out first 5 line
cursor = conn.cursor()
query = 'select top 5* from [Books] ;'
cursor.execute(query)
results = cursor.fetchall()
for row in results:
    print(row)

print()

(1, 'The Lord of the Rings', 'J.R.R. Tolkien', '978-0618640157', 1954, 'Fantasy', '2', 4)
(2, 'Pride and Prejudice', 'Jane Austen', '978-0141439518', 1813, 'Romance', 'Penguin Classics', 3)
(3, 'To Kill a Mockingbird', 'Harper Lee', '978-0446310789', 1960, 'Southern Gothic', 'Grand Central Publishing', 8)
(4, 'The Great Gatsby', 'F. Scott Fitzgerald', '978-0743273565', 1925, 'Classic', 'Scribner', 2)
(5, '1984', 'George Orwell', '978-0451524935', 1949, 'Dystopian', 'Signet Classics', 10)

 takes a SQL query as input, executes it using a database cursor

In [3]:
def execute_query_select(query):
    cursor = conn.cursor()
    cursor.execute(query)
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    print("done")

def execute_query(query):
    cursor = conn.cursor()
    cursor.execute(query)
    print("done")

INSERT: Add a new book and member

In [4]:
query3 = f"INSERT INTO Books (Title, Author, ISBN, PublicationYear, Genre, Publisher, CopiesAvailable) VALUES ('Book Title 6', 'Author new', '123123', 2019, 'Fashion', 'Penguin happy', 5), ('Book Title 3', 'Author 3', '2345678901', 2024, 'Non-fun', 'william', 3)"
rs3 = execute_query(query3)

print('-------------------------------')

query4 =f"INSERT INTO Members (FirstName, LastName, MembershipType, RegistrationDate) VALUES ('John', 'Doe', 'Regular', '2023-06-01')"
rs4 = execute_query(query4)

done
-------------------------------
done

Update member table

In [5]:
query5_0 = "select * from Members"
rs_2 = execute_query_select(query5_0)
query5_1 =f"UPDATE Members SET FirstName = 'Jack', LastName = 'Uck' WHERE MemberID = 1;"
rs5_1 = execute_query(query5_1)

rs_2 = execute_query_select(query5_0)

(1, 'Jane', 'Doe', 'Standard', '2023-01-15')
(2, 'Jane', 'Smith', 'Premium', '2023-03-22')
(3, 'Alice', 'Johnson', 'Student', '2023-05-10')
(4, 'Bob', 'Brown', 'Standard', '2023-02-08')
(5, 'Eva', 'Williams', 'Premium', '2023-04-18')
(6, 'Michael', 'Jones', 'Student', '2023-06-03')
(7, 'Olivia', 'Davis', 'Standard', '2023-01-29')
(8, 'Daniel', 'Taylor', 'Premium', '2023-03-12')
(9, 'Sophia', 'Anderson', 'Student', '2023-05-25')
(10, 'William', 'Wilson', 'Standard', '2023-02-19')
(11, 'John', 'Doe', 'Regular', '2023-06-01')
(18, 'John', 'Doe', 'Regular', '2023-06-01')
done
done
(1, 'Jack', 'Uck', 'Standard', '2023-01-15')
(2, 'Jane', 'Smith', 'Premium', '2023-03-22')
(3, 'Alice', 'Johnson', 'Student', '2023-05-10')
(4, 'Bob', 'Brown', 'Standard', '2023-02-08')
(5, 'Eva', 'Williams', 'Premium', '2023-04-18')
(6, 'Michael', 'Jones', 'Student', '2023-06-03')
(7, 'Olivia', 'Davis', 'Standard', '2023-01-29')
(8, 'Daniel', 'Taylor', 'Premium', '2023-03-12')
(9, 'Sophia', 'Anderson', 'Student', '2023-05-25')
(10, 'William', 'Wilson', 'Standard', '2023-02-19')
(11, 'John', 'Doe', 'Regular', '2023-06-01')
(18, 'John', 'Doe', 'Regular', '2023-06-01')
done

Removing Exact Duplicates (All Columns Match):

In [6]:

query6_0 = f"WITH CTE AS (SELECT *, ROW_NUMBER() OVER (PARTITION BY BookID, Title, Author, ISBN, PublicationYear, Genre, Publisher, CopiesAvailable ORDER BY BookID) AS RowNum FROM Books) DELETE FROM CTE WHERE RowNum > 1;"
rs6_0 = execute_query(query6_0)

done